In [1]:
def greet_user():
    name=input("Please enter your name:")
    print(f"Hello , {name}! Nice to meet you")
greet_user()

Please enter your name: sangeetha

Hello , sangeetha! Nice to meet you

In [2]:
def fun(name,age,gender):
    print(f"hello my name is {name},my age is {age},my gender is {gender}")

In [3]:
fun(age=23,name='raju',gender='male')

hello my name is raju,my age is 23,my gender is male

In [4]:
book_flight(departure='Paris', destination='Tokyo', seat_class='Business', meal_pref='Vegetrian')

NameError: name 'book_flight' is not defined

In [5]:
#arbitrary positional arguments
def add(*num):
    v = num[0]+num[1]+num[2]
    print ("addition:", v)
add(5,7,0)

addition: 12

In [6]:
def add_numbers(*a):
    sum_value=sum(a)
    print(sum_value)
add_numbers(7,4,9)

20

In [7]:
def find_max(*args):
    return max(args)
print(find_max(6,98,4,2,0,7))

98

In [8]:
def concatenate_strings(*args):
    return " ".join(args)
concatenate_strings("Hello", "World", "!")

'Hello World !'

In [9]:
def func(**a):
    print(type(a))
    for i,j in a.items():
        print(f"this is a key {i} this is a value {j}")
func(name='kenn',age=56)

<class 'dict'>
this is a key name this is a value kenn
this is a key age this is a value 56

In [ ]:
#local variable
#variables that are declared inside a function and can only accessed within that function

In [ ]:
#global variable
#variables that are declared outside the function and can be accessed both inside and outside any function

In [ ]:
#nested function

In [10]:
def outer_func():
    print('first')
    def inner_func():
        print('hello')
    inner_func()
outer_func()

first
hello

In [11]:
def my_func():
    print('hello,world!')
my_func()

hello,world!

In [12]:
del my_func
my_func()

NameError: name 'my_func' is not defined

In [ ]:
#lambda function in python is a small,anonymous function defined in the beginning

In [13]:
ba=lambda a,b,c:a+b+c
ba(45,65,2)

112

In [14]:
ab=lambda a,b:a*b
ab(6,7)

42